{:paths ["." "resources"]
 :main-opts ["-m" "core"]
 :deps {org.clojars.lukaszkorecki/mokujin {:local/root "../../mokujin"}
        org.clojars.lukaszkorecki/mokujin-logback {:local/root "../../mokujin-logback"}}

 :aliases {:run {:main-opts ["-m" "core"]}
           :stable {:extra-deps
                    {org.clojars.lukaszkorecki/mokujin {:mvn/version "1.0.061"}
                     org.clojars.lukaszkorecki/mokujin-logback {:mvn/version "1.0.061"}}}}}
