{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}

        org.clojure/tools.logging {:mvn/version "1.2.4"}
        org.slf4j/slf4j-api {:mvn/version "2.0.9"}
        org.slf4j/jcl-over-slf4j {:mvn/version "2.0.9"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.11"
                                        :exclusions [org.slf4j/slf4j-api]}
        net.logstash.logback/logstash-logback-encoder {:mvn/version "7.4"}}

 :aliases {:test {:main-opts ["-m" "kaocha.runner"]
                  :extra-paths ["dev-resources" "test"]
                  :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                             "-Duser.timezone=UTC"
                             "-Dfile.encoding=UTF-8"]
                  :extra-deps {cheshire/cheshire {:mvn/version "5.12.0"}
                               lambdaisland/kaocha {:mvn/version "1.87.1366"}}}}}
