;; this top-level dependency file is only for jar builds & deploys
;; each project contains it's own deps.edn
{:paths []
 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.8"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}}}
